{% load static %}
<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <script src="{% static 'bootstrap-5.0.0-beta3-dist/js/bootstrap.bundle.min.js' %}"></script>
  </head>
  <body>
    <div class="container">
    {% block content %}
    {% endblock content %}
    </div>
  </body>
</html>
