{% extends "base.html" %}

{% load static %}

{% block title %}Question 5{% endblock title %}

{% block content %}
  {% spaceless %}
  <div class="row">
    <div class="col-6">
      <a href="">
        <div class="card border-light">
          <img src="{% static 'blackpink.jpg' %}" class="card-img-top">
          <div class="card-body text-center">
            <h5 class="card-title">Blackpink</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-6">
      <a href="">
        <div class="card border-light">
          <img src="{% static 'gongyoo.jpg' %}" class="card-img-top">
          <div class="card-body text-center">
            <h5 class="card-title">Gong Yoo</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
  {% endspaceless %}
{% endblock content %}
