{% extends "base.html" %}

{% block title %}Question 0{% endblock title %}

{% block content %}
  {% spaceless %}
    <div style="padding: 1.5rem">
      <form action="." method="GET">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="name" class="col-form-label">Name</label>
          </div>
          <div class="col-auto">
            <input id="name" type="text" class="form-control" name="name" />
          </div>
          <div class="col-auto">
          <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  {% endspaceless %}
{% endblock content %}
